@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.heading
{
	text-align:center;
	font-family: 'Oxygen', sans-serif;
	font-size:50px;
}
#mainContent
{
	padding:15px 15px 2500px;
	margin-top:30px;
}
.intro
{
	line-height:26px;
	text-align:center;
	font-size:20px;
	color:#525354;
}