@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
body {
    background-image: url(img/confirm-bg.jpg);
    background-position: -300px -300px;
    font-family:'Oxygen', sans-serif;
}
.align {
    padding-left : 450px;
}
.main {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
    text-align: center;
    width:450px;
    border : 2px solid #ffc800;
}